@charset "UTF-8";
/* Estilo de todo el sitio */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");
* {
  padding: 0%;
  margin: 0%; }

/* Estilos de las páginas */
header {
  background-color: white; }
  header li {
    padding-left: 15px; }
    header li li a {
      color: black;
      font-family: assistant;
      font-size: 30px; }

.textoLogo {
  font-size: 35px; }

/* Estilo de tarjeta - PAGINA INICIO */
.div__flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px; }

.card-title, .card-text {
  font-family: assistant;
  font-size: 30px;
  color: #6a6a6a; }

.card-text {
  font-size: 25px; }

/* estilo de link de tarjeta */
.cards__link {
  font-family: assistant; }
  .cards__link a:link,
  .cards__link a:visited {
    background-color: white;
    color: black;
    border: 2px solid #6a6a6a;
    border-radius: 30px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block; }
  .cards__link a:hover,
  .cards__link a:active {
    background-color: #6a6a6a;
    color: white; }

.encabezados {
  color: black;
  font-family: assistant;
  text-transform: uppercase; }

/* SECCION 3 - PAGINA INICIO */
.seccion3 h3 {
  color: white;
  font-family: assistant;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: underline; }

.seccion3 p {
  font-size: 25px;
  font-family: assistant;
  color: white;
  margin-top: 30px; }

/* SECCION 4- PAGINA INICIO */
/* Parrafo */
.seccion4 h3 {
  color: black;
  font-family: assistant;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: underline; }

.seccion4 p {
  font-size: 25px;
  font-family: assistant;
  color: black;
  margin-top: 30px; }

/* Marcas */
.angela {
  margin-top: 30px;
  width: 400px;
  height: 100px; }

.pinkmask {
  width: 300px;
  height: 100px; }

.cherimoya {
  margin-top: 100px;
  width: 400px;
  height: 200px; }

/* ESTILO DE FORMULARIO PAGINA CONTACTOS */
.formulario__espacio {
  margin: 80px;
  font-family: assistant;
  font-size: 25px; }

.texto__boton {
  font-family: assistant;
  font-size: 20px;
  background-color: #6a6a6a;
  color: white;
  border: 2px solid #6a6a6a;
  border-radius: 30px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block; }

.presentacion_secciones {
  font-family: assistant;
  background-color: rgba(169, 169, 169, 0.338);
  height: 30px; }
  .presentacion_secciones h1 {
    font-size: 40px; }
  .presentacion_secciones p {
    font-size: 25px; }

/* PAGINA PROMOCIONES - Presentación */
.presentacion_pages {
  font-family: assistant;
  background-color: rgba(169, 169, 169, 0.338); }
  .presentacion_pages h1 {
    font-size: 50px; }
  .presentacion_pages p {
    font-size: 35px; }

/* PAGINA PROMOCIONES - Tarjetas */
.tarjeta_promos {
  padding: 20px;
  font-family: assistant;
  text-align: center; }

.tarjeta_promos--style {
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .tarjeta_promos--style h3 {
    font-size: 50px;
    background: rgba(169, 169, 169, 0.338);
    width: auto; }
  .tarjeta_promos--style p {
    font-size: 35px;
    background: rgba(239, 239, 239, 0.181); }
  .tarjeta_promos--style a {
    font-size: 25px;
    font-weight: bold; }

/* Estilos de los componentes de las páginas */
/* estilo de los slide de CARRUSEL - PAGINA INICIO*/
.slide {
  background-color: rgba(210, 210, 210, 0.66);
  padding: 10px; }
  .slide .parrafo__slide, .slide .titulo__slide {
    color: black;
    font-size: 20px;
    font-family: assistant; }
  .slide .titulo__slide {
    font-size: 25px;
    text-transform: uppercase; }

.carousel-inner {
  height: 500px; }

.carousel, .carousel-inner > .item {
  height: 100vh; }

/* ESTILO DE FOOTER + ICONOS - TODAS LAS PAGINAS */
.icono__footer {
  width: 50px;
  height: 50px; }

.icono__facebook {
  width: 41px;
  height: 41px; }

.texto__footer, .titulo__footer {
  font-family: assistant;
  font-size: 20px;
  color: white; }

.titulo__footer {
  font-size: 25px;
  font-weight: bold; }

.footer__fondo {
  background-color: black;
  padding-top: 15px; }

.iconos li a {
  display: block;
  transition: all 0.3s; }

.iconos li a:hover {
  transform: scale(1.1); }
