$textos: bodoni moda;
$titulo: assistant;
$mediano: 20px;
$grande: 25px;
$white: white;
$black: black;
$greyforte: rgb(106, 106, 106);
$greylight: rgba(210, 210, 210, 0.66);
$mayuscula: uppercase;

/* estilo de los slide de CARRUSEL - PAGINA INICIO*/
.slide {
    background-color: $greylight;
    padding: 10px;
    .parrafo__slide{
        color: $black;
        font-size: $mediano;
        font-family: $titulo;
    }  
    .titulo__slide{
    @extend .parrafo__slide;
    font-size: $grande;
    text-transform: $mayuscula;
    }
}
.carousel-inner{
    height: 500px;
}
.carousel, .carousel-inner > .item {
    height: 100vh;
}
