@import "variables";

/* ESTILO DE FORMULARIO PAGINA CONTACTOS */
.myEstilo_form{
    font-family: $tipografia-general;
    font-size: $fuente-chica;
    .bg{
        background-image:url("../imagenes/manicura-inicio.png");
        background-repeat: no-repeat;
        background-position-y: bottom;
        background-color: transparent;
        object-fit: cover;
    }
    h2{
        text-transform: $transform;
    }
    .myEstilo_form--boton {
        font-family: $tipografia-general;
        font-size: $fuente-chica;
        background-color: $background-grisOsc;
        color: $color-texto--black;
        border: 2px solid $color-texto--black;
        border-radius: 30px;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
    }
}