/* TODAS LAS PAGINAS POSEEN LOS SIGUENTES ESTILOS */
@import"variables";
/* RESET */
*{
    padding: 0%;
    margin: 0%;
}
/* BARRA DE NAVEGACION */
header {
    background-color: $color-texto--white;
    li {
        padding-left: 15px;
        li a {
            color: $color-texto--black;
            font-family: $tipografia-general;
            font-size: $fuente-subtitulos;
        }
    }
}
/* LOGO */
.myEstilo_logo {
    font-size: 35px;
}
/* PRESENTACION DE PAGINAS */
.myEstilo_presentacion{
    font-family: $tipografia-general;
    background-color: $background-sections;
    h1 {
        font-size: $fuente-titulos;
    }
    h2{
        font-size: $fuente-mediana;
        text-transform: $transform;
    }
    p, a{
        font-size: 25px;
    }
}
/* TITULO DE SECCION */
.myEstilo_secciones{
    font-family: $tipografia-general;
    background-color: $background-sections;
    height: 50px;
    width: 100%;
    font-size: $fuente-grande;
    text-transform: $transform;
}
/* FOOTER */
.miEstilo_copy{
    font-family: $tipografia-general;
}