$titulo: assistant;
$mediano: 25px;
$grande: 30px;
$black: black;
$white: white;
$greyforte: rgb(106, 106, 106);
$greylight: rgba(210, 210, 210, 0.66);
$mayuscula: uppercase;
//Estilo de la barra de navegación - TODAS LAS PAGINAS////////////////////////////////
header {
  background-color: $white;
  li {
    padding-left: 15px;
    li a {
      color: $black;
      font-family: $titulo;
      font-size: $grande;
    }
  }
}
.textoLogo {
  font-size: 35px;
}
/* estilo de CARRUSEL - PAGINA INICIO*/
.carrusel_estilo {
  font-family: assistant;
  h1{
  text-transform: uppercase;
  }
  p{
    font-size: 30px;
  }
}

/* Estilo de tarjeta - PAGINA INICIO */
.div__flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}
.card-title {
  font-family: $titulo;
  font-size: $grande;
  color: $greyforte;
}
.card-text {
  @extend .card-title;
  font-size: $mediano;
}
/* estilo de link de tarjeta */
.cards__link {
  font-family: $titulo;
  a:link,
  a:visited {
    background-color: $white;
    color: $black;
    border: 2px solid $greyforte;
    border-radius: 30px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  a:hover,
  a:active {
    background-color: $greyforte;
    color: $white;
  }
}
.encabezados {
  color: $black;
  font-family: $titulo;
  text-transform: $mayuscula;
}
/* SECCION 3 - PAGINA INICIO */
.seccion3 h3 {
    color: $white;
    font-family: assistant;
    font-size: $grande;
    text-transform: $mayuscula;
    font-weight: bold;
    text-decoration: underline;
  }
  .seccion3 p {
    font-size: $mediano;
    font-family: assistant;
    color: $white;
    margin-top: 30px;
  }

/* SECCION 4- PAGINA INICIO */
/* Parrafo */
.seccion4 h3 {
  color: $black;
  font-family: assistant;
  font-size: $grande;
  text-transform: $mayuscula;
  font-weight: bold;
  text-decoration: underline;
}
.seccion4 p {
  font-size: $mediano;
  font-family: assistant;
  color: $black;
  margin-top: 30px;
}
/* Marcas */

.angela {
  margin-top: 30px;
  width: 400px;
  height: 100px;
}
.pinkmask {
  width: 300px;
  height: 100px;
}
.cherimoya {
    margin-top: 100px;
  width: 400px;
  height: 200px;
}
