@import"variables";

/* CARRUSEL - PAGINA INICIO*/
.myEstilo_carrusel {
  font-family: $tipografia-general;
    h1{
    text-transform: $transform;
    }
    p, a{
      font-size: $fuente-mediana;
    }
}

/* Titulo TARJETAS */
.miEstilo_card--titulo {
  font-family: $tipografia-general;
  font-size: $fuente-mediana;
  color: $color-texto--grisOsc;
}

/* Marcas */
.angela {
  margin-top: 30px;
  width: 400px;
  height: 100px;
}
.pinkmask {
  width: 300px;
  height: 100px;
}
.cherimoya {
  margin-top: 100px;
  width: 400px;
  height: 200px;
}
