@import "variables";

/* PAGINA PROMOCIONES - Tarjetas */
.myTarjeta_promos{
    padding: 20px;
    font-family: $tipografia-general;
    text-align: center;
    .myTarjeta_promos--style{
        display: flex;
        flex-direction: column;
        justify-content: center;
        h3 {
            font-size: $fuente-titulos;
            background: $background-grisOsc;
            width: auto;
        }
        p {
            font-size: $fuente-subtitulos;
        }
        a{
            font-size: $fuente-chica;
            font-weight: $weight;
        }
    }
}
