$texto: bodoni moda;
$titulo: assistant;
$mediana: 20px;
$grande: 25px;
$greyforte: rgb(106, 106, 106);
$greylight: rgba(210, 210, 210, 0.66);
$white: white;
$black: black;
$mayuscula: uppercase;
$negrita: bold;


/* ESTILO SECCION 2 - CONOCENOS MAS - PAGINA INICIO */
.seccion1{
    height: 300px;
    color: $white;
    background-color: $greyforte;
    padding: 10px;
    padding-bottom: 20px;
    margin: 10px;
    
}
.seccion1__inicio{
    color: $white;
    background-color: $greyforte;
    padding-top: 25px;
    margin: 10px;
    .col1{
        width: 30px ;
        font-family: $titulo;
        text-transform: $mayuscula;
        font-size: $grande;
        text-align: center;
        font-weight: $negrita;
        padding-left: 0%;
        padding-right: 30px;
    }
    .col2{
        font-family: $titulo;
        text-align: center;
        font-size: $mediana;
    }
}