.presentacion_secciones{
    font-family: assistant;
    background-color: rgba(169, 169, 169, 0.338);
    height: 30px;
    h1 {
        font-size: 40px;
    }
    p {
        font-size: 25px;
    }
}